In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/bankar/miniconda3/envs/data_engineering_zoomcamp/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/bankar/miniconda3/envs/data_engineering_zoomcamp/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 4.8 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.0.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.5/19.5 MB 3.1 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.2.3 pytz-2024.2 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [6]:
pd.__version__

'2.2.3'

In [9]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

--2025-01-29 21:21:16--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
20.207.73.82thub.com (github.com)...
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250129T154945Z&X-Amz-Expires=300&X-Amz-Signature=1fa3cd508205bdf9f72cbba3dc8cac6548a25fad341b009f214134e6b2d06e41&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-29 21:21:31--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250129T154945Z&X-Amz-Expires=300&X-Amz-Signature=1fa3cd508205bdf9f72cbba3dc8cac6548a25fad341b009f214134e6b2d06e41&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
185.199.110.133, 185.199.111.133, 185.199.109.133, ...busercontent.com)...
connected. to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443...
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  6.38MB/s    in 1.2s

2025-01-29 21:21:39 (6.38 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

In [10]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-29 21:22:30--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
20.207.73.82thub.com (github.com)...
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250129T155244Z&X-Amz-Expires=300&X-Amz-Signature=47b0e5f62a7a1ca5236e56cba0082a235132810a208cc2c2eb19aa5a518284f4&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-29 21:22:45--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250129T155244Z&X-Amz-Expires=300&X-Amz-Signature=47b0e5f62a7a1ca5236e56cba0082a235132810a208cc2c2eb19aa5a518284f4&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
185.199.110.133, 185.199.108.133, 185.199.109.133, ...busercontent.com)...
connected. to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443...
200 OKequest sent, awaiting response...
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-01-29 21:22:52 (48.3 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [84]:
df_green = pd.read_csv("green_tripdata_2019-10.csv.gz")
df_green.shape

/tmp/ipykernel_54244/4276342873.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv("green_tripdata_2019-10.csv.gz")

(476386, 20)

In [85]:
df_green.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [86]:
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

In [87]:
print(pd.io.sql.get_schema(df_green, name = "green_tripdata_2019-10"))

CREATE TABLE "green_tripdata_2019-10" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [88]:
df_taxizone = pd.read_csv("taxi_zone_lookup.csv")
df_taxizone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [89]:
print(pd.io.sql.get_schema(df_taxizone, name = "taxi_zone_data"))

CREATE TABLE "taxi_zone_data" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [50]:

pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /home/bankar/miniconda3/envs/data_engineering_zoomcamp/lib/python3.9/site-packages (2.0.37)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: greenlet!=0.4.17 in /home/bankar/miniconda3/envs/data_engineering_zoomcamp/lib/python3.9/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/bankar/miniconda3/envs/data_engineering_zoomcamp/lib/python3.9/site-packages (from sqlalchemy) (4.12.2)
Downloading psycopg2_binary-2.9.10-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 14.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [90]:
from sqlalchemy import create_engine

In [91]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [92]:
engine.connect()

In [93]:
query = """
select 1;
"""
pd.read_sql(query, con = engine)

   ?column?
0         1

In [94]:
df_green.to_sql(name = "green_tripdata_2019_10", con= engine, index=False, if_exists='replace')

386

In [77]:
query = """
select * from green_tripdata_2019_10 limit 10;
"""
pd.read_sql(query, con = engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,None,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,None,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,None,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,None,0.3,13.56,1.0,1.0,0.0
5,2.0,2019-10-01 00:35:01,2019-10-01 00:43:40,N,1.0,65,49,1.0,1.47,8.0,0.50,0.5,1.86,0.0,None,0.3,11.16,1.0,1.0,0.0
6,1.0,2019-10-01 00:28:09,2019-10-01 00:30:49,N,1.0,7,179,1.0,0.60,4.0,0.50,0.5,1.00,0.0,None,0.3,6.30,1.0,1.0,0.0
7,2.0,2019-10-01 00:28:26,2019-10-01 00:32:01,N,1.0,41,74,1.0,0.56,4.5,0.50,0.5,0.00,0.0,None,0.3,5.80,2.0,1.0,0.0
8,2.0,2019-10-01 00:14:01,2019-10-01 00:26:16,N,1.0,255,49,1.0,2.42,10.5,0.50,0.5,0.00,0.0,None,0.3,11.80,2.0,1.0,0.0
9,1.0,2019-10-01 00:03:03,2019-10-01 00:17:13,Y,1.0,130,131,1.0,3.40,13.0,0.50,0.5,2.85,0.0,None,0.3,17.15,1.0,1.0,0.0

In [95]:
query = """
select count(*) from green_tripdata_2019_10 ;
"""
pd.read_sql(query, con = engine)

    count
0  476386

In [96]:
df_taxizone.to_sql(name = 'taxi_zone_data',con=engine , index = False, if_exists = 'replace')

265

In [97]:
query = """
select count(*) from taxi_zone_data ;
"""
pd.read_sql(query, con = engine)

   count
0    265